body{
    background-image: url('background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.col1{
    display: flex;
    flex-direction: column;
    
}
.col2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col3{
    display: flex;
    flex-direction: column;
    border: 2dvh, transparent;
    
}
h1{
    color: snow;
    text-decoration: underline red;
    border-radius: 10px;
    font-family: 'Roboto Condensed';
}
h2{
    color:snow;
    font-family: 'Roboto Condensed' ;
    font-size: 30px;
}
p{
    font-family: 'Roboto Condensed';
    color: snow;
    
}
.sobre{
    font-size: 30px;
    max-width: fit-content;
}
#btnLer{
    color: blue;
    border: none;
    background-color: gray;
    font-size: large;
    max-width: fit-content;
    max-height: fit-content;
}
#btnLer:hover{
    text-decoration: underline solid blue;
}
#btnLer2{
    color: blue;
    border: none;
    background-color: gray;
    font-size: large;
    max-width: fit-content;
    max-height: fit-content;
}
#btnLer2:hover{
    text-decoration: underline solid blue;
}
.MegamanX5{
    min-width: 15dvh;
}
.meus_links{
    font-size: 35px ;
    
}
.git_link{
    color: snow;
    text-decoration: none;
}
.git_link:hover{
    text-decoration: underline snow;
}
.insta_link{
    color: snow;
    text-decoration: none;
}
.insta_link:hover{
    text-decoration: underline snow;
}
.steam_link{
    color: snow;
    text-decoration: none;
}
.steam_link:hover{
    text-decoration: underline snow;
}
#mais{
    font-size: 25px;
    
}
#mais2{
    
    flex-direction: column ;

}
.links{
    color: snow;
    
}
.foto{
    max-height: 35dvh;
    max-width: fit-content;
    border: 7px solid red;
    border-radius: 10px;
    
    
}

.foto img {
   max-height: 35dvh;
   max-width: 35dvh;
   
}
.segredo{
    width: 33dvh;
    color: transparent;
}